.body {
  display: flex;
  justify-content: center;
  height: 85%;
  align-items: center;
}

.develop {
  text-align: right;
}

.loginCard {
  max-width: 328px !important;
  margin: 2em auto;
  text-align: center;
  height: 300px;
}

.header {
  text-align: center;
  margin-top: 20px;
}

.full-width {
  width: 80%;
}

.info-users {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
